import React from 'react'
<% if (metadata.entity.fields.some(f=>f.type === 'Date'||f.type === 'Timestamp')){%>
import { Form, Input, Modal, Button, DatePicker } from 'antd'<%} else {%>
import { Form, Input, Modal, Button } from 'antd'<%}%>
const FormItem = Form.Item

const formItemLayout = {
  labelCol: {
    xs: { span: 6 },
  },
  wrapperCol: {
    xs: { span: 14 },
  },
}

const Component = ({
  context, form, dispatch, showModal,
}) => {
  const { getFieldDecorator } = form

  return (
    <div>
      <Button type="primary" icon="plus" onClick={() => (dispatch({ type: `${context.code}/setState`, showModal: true }))} >新增</Button>
      <Modal
        title="创建 <%=metadata.entity.name%>"
        visible={showModal}
        onOk={() => {
          form.validateFieldsAndScroll((err, values) => {
            if (!err) {
              dispatch({
 context, type: `${context.code}/create`, data: values, form,
})
            }
          })
        }}
        onCancel={() => {
          dispatch({ context, type: `${context.code}/setState`, showModal: false })
          form.resetFields()
        }}
      >
        <Form><% for(var i=0; i<metadata.entity.fields.length; i++) {%><%if(metadata.entity.fields[i].primaryKey){continue;}%>
          <FormItem {...formItemLayout} label="<%=metadata.entity.fields[i].name%>" ><% if(metadata.entity.fields[i].required) {%><% if(metadata.entity.fields[i].type === 'Date'|| metadata.entity.fields[i].type === 'Timestamp')  {%>
            {getFieldDecorator('<%=metadata.entity.fields[i].key%>', { rules: [{ required: true, message: '请输入<%=metadata.entity.fields[i].name%>' }] })(<DatePicker />)}<%} else {%>
            {getFieldDecorator('<%=metadata.entity.fields[i].key%>', { rules: [{ required: true, message: '请输入<%=metadata.entity.fields[i].name%>' }] })(<Input />)}<%}%><%} else {%><% if(metadata.entity.fields[i].type === 'Date'|| metadata.entity.fields[i].type === 'Timestamp') {%>
            {getFieldDecorator('<%=metadata.entity.fields[i].key%>')(<DatePicker />)}<%} else {%>
            {getFieldDecorator('<%=metadata.entity.fields[i].key%>')(<Input />)}<%}%><%}%>          
          </FormItem><% }%>
        </Form>
      </Modal>
    </div>
  )
}
export default Form.create()(Component)